* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;
}

.main-container {
    /* border: 1px solid red; */
    width: 100%;
    /* padding: 40px; */
    padding: 2rem;
}

template::-webkit-scrollbar {
    /* border: 1px solid red; */
    width: 1em;
}

template::-webkit-scrollbar-track {
    background-color: black;
    margin-block: 1em;
    border-left: 5px solid white;
    border-right: 5px solid white;
}

template::-webkit-scrollbar-thumb {
    background-color: black;
    border-left: 2.5px solid white;
    border-right: 2.5px solid white;
}